<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <div class="masthead">
      <nav class="link-to-home">
        <a href="/"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;<strong>Oliver Sumo</strong></a>
      </nav>
      <nav class="masthead-links">
      {% for page in site.blog_masthead_pages %}
        &nbsp;
        <small><a href="{{ page[1] }}">{{ page[0] }}</a></small>
        &nbsp;
      {% endfor %}
      </nav>
    </div>
    <div class="container content">

      {{ content }}

    <div class="footer">
      <p>
        &copy; {{ site.time | date: '%Y' }} Oliver Sumo. All rights reserved.
        <span style="float:right;"><a href="http://twitter.com/solivera2g3">@solivera2g3</a></span><br/>
        <small>But you can feel free to reuse any code snippets in personal or commercial projects.</small><br/>
        <small><a href="/about/this-site">About this website</a></small>
      </p>
    </div>
  </div>

  </body>
</html>
